/* Basic - Start */
* { -webkit-box-sizing: border-box;	-moz-box-sizing: border-box; box-sizing: border-box;}
.cb_toolbar *{-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}

html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr, input, textarea{
	margin: 0; padding: 0; border: 0; list-style: none; outline: 0;
}
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
html { background: #FFFFFF; }
body {
	Font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	margin: 0 auto; text-align:left; position: relative;
	line-height: 1.6; color: #555555; 
}
img { max-width: 100%; border:none; height: auto; width: auto\9; /* ie8 */ }
video { width: 100%    !important; height: auto   !important; }
.clearfix { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .clearfix {	display: block; }
* html .clearfix { height: 1%; }
p{/*word-wrap: break-word !important;text-align: justify !important;*/}
a.none-url{ text-decoration: none !important; cursor:default !important;}
.font-bold{font-weight: bold;}
/* Basic - End */

/* Layoyt - Start */
.container {
  width: 1170px;	
  padding-right: 15px; padding-left: 15px;
  margin-right: auto;  margin-left: auto;
}
.jumbotron { color:inherit; }
.row{/*margin-left: -15px; margin-right: -15px;*/}
.col.lg{position: relative; min-height: 1px; /*padding-right: 15px; padding-left: 15px;*/} 
.col.half_40{width:40%;}
.col.half_60{width:60%;}
.col.half_30{width:30%;}
.col.half_70{width:70%;}
.col.half{width:50%;}
.col.third{width:33.3333%;}
.col.fourth{width:25%;}
.col.third_25{width:25%;}
.col.third_50{width:50%;}
.col.third_15{width:15%;}
.col.third_55{width:55%;}
.col.half, .col.third, .col.fourth, .col.half_40, .col.half_60, .col.half_30, .col.half_70, .col.third_25, .col.third_50, .col.third_15, .col.third_55{ 
	float:left; 
	position: relative;
	min-height: 1px; 
	/*
	padding-right: 15px; 
	padding-left: 15px;
	*/ 
}
.col.no-padding{ padding-left:0; padding-right:0;}
.table_box{display:table; width:100%;}
.table_cell{display:table-cell; width:100%; vertical-align:middle; }
.table_cell.small{ width: 1%;}


/* 表单 - Start */
fieldset{ border:0; margin:0; padding:0;}
fieldset.odd{ float:left; margin-right:2%; }
fieldset.even{ float:left; margin-left:2%; }
fieldset label{ float: left; width:20%; margin-right:2%; padding-right:2%;}
fieldset input{ display: block; width: 75%;}

/* User Info :Start */
.p_form{}
.p_form .text, .p_form p{font-size: 16px; line-height: 1.8; text-align: justify; word-wrap: break-word; }
.p_form .text{ margin-bottom: 0px;}
.p_form .form_wrapper{}
.p_form .form_wrapper ul{ margin-bottom: 15px;}
.p_form .form_wrapper li{float: left; padding-top: 15px; width: 50%;}
.p_form .form_wrapper li.odd{ padding-right:15px; }
.p_form .form_wrapper li.even{ padding-left:15px;}
.p_form .form_wrapper fieldset{ border: 0; margin: 0; padding: 5px 0; margin-top: 0px; border-bottom: 1px solid #E5E5E5; }
.p_form .form_wrapper fieldset label {margin-right: 0%; width: 16%; display: inline-block; text-align: left; }
.p_form .form_wrapper fieldset input.form-text {display: inline-block; width: 80%; font-size: 15px; background: none; padding: 0px 2%; color: #454648; }
.p_form .text-tips{ color: #8d8d8d; font-size: 14px; line-height: 1.8;}
.p_form .form_wrapper .button-block{ width: 50%; padding-right: 15px; margin-top: 22px;}
.p_form .form_wrapper a.btnSubmit {display: inline-block; vertical-align: bottom; padding: 5px 30px; text-align: center; cursor: pointer; border: 1px solid #d1d1d1; color: #555555; text-decoration: none; }
.p_form .form_wrapper a.btnHalf{display: inline-block; vertical-align: bottom; padding: 2px 30px 3px; text-align: center; cursor: pointer; border: 1px solid #d1d1d1; color: #555555; font-size: 14px; text-decoration: none; margin-left: 5px;} 
.p_form .result_wrapper .h_tips{}
.p_form .result_wrapper .h_tips h3 {display: block; width: 105px; margin: 10px auto; padding-left: 30px; font-size: 16px; vertical-align: middle; height: 22px; line-height: 1.4; 
    background: url(http://mat1.gtimg.com/www/mb/cb2/global/assets/images/icon_success.png) no-repeat left; 
}
.p_form .form_wrapper fieldset.none-bd{ border:0; margin: 10px 0 0}
.p_form .form_wrapper fieldset{ margin: 15px 0;}
.p_form .form_wrapper fieldset label{ width: 12%;}
.p_form .form_wrapper fieldset input.form-text{ width: 84%;}
.p_form .form_wrapper fieldset input.form-text-full{
	display: inline-block; width: 100%; font-size: 15px; background: none; padding:5px; color: #454648;
	border: 1px solid #d1d1d1; -webkit-border-radius: 0px; -webkit-appearance: none;
}
.p_form .form_wrapper fieldset input.form-text-half{display: inline-block; width: 50%; font-size: 15px; background: none; padding: 5px; color: #454648; border: 1px solid #d1d1d1; -webkit-border-radius: 0px; -webkit-appearance: none; }
.p_form .button-full-block{ display: block; margin-top: 22px;}
.p_form .button-full-block span.text-tips{ vertical-align: text-bottom; margin-left: 5px; line-height: 1; display: none!important;}
.p_form .form_wrapper fieldset.none-bd label{ display: block; width:100%!important; padding: 0; float: none;}
.p_form .form_wrapper .block{ display: block;}

.p_form .form_wrapper .radio, .p_form .form_wrapper .checkbox, .p_form .form_wrapper .textarea, .p_form .form_wrapper .inouttext  {
	position: relative; display: block; margin-top: 10px; margin-bottom: 0px; text-align: left;
}
.p_form .form_wrapper fieldset.none-bd .radio label, .p_form .form_wrapper fieldset.none-bd .checkbox label {
	display: inline-block !important; margin-bottom: 0; cursor: pointer;  padding-left: 25px; }

.p_form .form_wrapper .radio input[type=radio], .p_form .form_wrapper .checkbox input[type=checkbox] {
	display: none;
}
.p_form .form_wrapper fieldset.none-bd .radio label:before, .p_form .form_wrapper fieldset.none-bd .checkbox label:before{
	display: inline-block; width: 14px; height: 14px; margin-right: 10px; position: absolute; left: 0; bottom: 4px; background-color: #fff; border:1px solid #4b4b4b;
	content: "";
}
.p_form .form_wrapper fieldset.none-bd .radio label:before {
    border-radius: 50%;
}
.p_form .form_wrapper .radio input[type=radio]:checked + label:before {    
    /*color: #4b4b4b; font-size: 31px; text-align: center; line-height: 15px; padding: 1px 0 0 1px;
    content: "\2022";*/
    background:url(http://mat1.gtimg.com/www/mb/cb2/global/assets/images/radio-check_1X.png) no-repeat #FFFFFF;
    background-position: 3px 3px;
}
.p_form .form_wrapper .checkbox input[type=checkbox]:checked + label:before {
    /*content: "\2713";
    font-size: 13px; color: #fff; text-align: center; line-height: 15px; */
    background:url(http://mat1.gtimg.com/www/mb/cb2/global/assets/images/checkbox-check_1X.png) no-repeat #4b4b4b;
    background-position: 3px 3px; 
}

.p_form .form_wrapper .textarea textarea{
	width:100%;padding: 5px;
    font-size: 15px; line-height:1.5; color:#454648;
    border: 1px solid #d1d1d1;
    background: none;height: 120px;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
}

.p_form .form_wrapper fieldset select {
    min-width: 24%;
    margin: 0;    
    font-size: 16px;
    padding: 4px 3px;
    color: #454648;
    border: 1px solid #d1d1d1;
                                       
}

.p_form .form_wrapper fieldset .inouttext select{margin-right: 1%;}
.p_form .form_wrapper fieldset .inouttext select:last-child{margin-right: 0;}

.p_form.size-xs{}
.p_form.size-xs .form_wrapper fieldset label{width:18%; }
.p_form.size-xs .form_wrapper fieldset input.form-text{width: 76%;}

.form_wrapper.read-only fieldset.none-bd .radio label, .form_wrapper.read-only fieldset.none-bd .checkbox label{
	cursor:default;
}  
.form_wrapper.read-only .img-desc, .form_wrapper.read-only .text-desc{
	float: left; width: 50%;
}       
.form_wrapper.read-only .img-desc{position: relative; height: 12px;}
.form_wrapper.read-only .img-desc .bar-bottom, .form_wrapper.read-only .img-desc .bar-top{
	position: absolute; top: 7px; left: 0; 
	width: 100%; height: 12px;
}
.form_wrapper.read-only .img-desc .bar-bottom{ background:rgba(0,0,0,0.1); z-index: 1;}
.form_wrapper.read-only .img-desc .bar-top{ z-index: 2;}
.form_wrapper.read-only .text-desc{ padding-left: 5%;}

/* Special For : IE8 : Start */
fieldset .spec-ie8 input{width: auto; margin-right: 5px;}
.spec-ie8 input[type=radio], .spec-ie8 input[type=checkbox] {display:inline-block!important; }
.p_form .form_wrapper fieldset.none-bd .radio .spec-ie8, .p_form .form_wrapper fieldset.none-bd .checkbox .spec-ie8{
	display: inline!important; float: none; width: auto!important; font-weight: normal; padding-left: 0;
} 
.p_form .form_wrapper fieldset.none-bd .radio label.spec-ie8:before, .p_form .form_wrapper fieldset.none-bd .checkbox label.spec-ie8:before{
	display: none;
}
/* Special For : IE8 : End */

/* User Info :End */

/* 返回顶部  */
#pbt_backToTop{ 
	display:none; width:50px; height:50px; 
	position:fixed; left:50%; margin-left:510px;  
	bottom:40px; cursor:pointer;z-index:90; 
	background-image:url(../images/backToTop.png); background-repeat:no-repeat; background-position:center;
}

#pbt_backToTop{ background-color:#FFFFFF; }

/* 微信分享 - Start */
.weixin_layer {
	display:none;
	position:fixed;
	top: 0;	left: 0; bottom: 0; 
	width: 100%; height: 100%;
	background:url(../images/global/weinxin_share_arrow.png) no-repeat right top rgba(0, 0, 0, 0.7);
	-webkit-background-size: 320px 75px; -moz-background-size: 320px 75px; -o-background-size: 320px 75px; background-size: 320px 75px; 
	z-index: 99;
}

.weixin_tips_block{
	margin:64px auto 0; width:320px; height:99px; 
	background:url(../images/global/weinxin_share_txt.png) no-repeat; 
	-webkit-background-size: 320px 99px; -moz-background-size: 320px 99px; -o-background-size: 320px 99px; background-size: 320px 99px;
}
/* 微信分享 - End */

/* 版权 - Start */
#copyrightPanel{ text-align:center; padding:30px 0;}
#copyrightPanel p{ font-size:14px; color:#454648; line-height:1.6; text-align: center !important;}
#copyrightPanel .just-mobile{display: none;}
/* 版权 - End */

@media only screen and (max-width: 1200px){
	.container { width: 970px; }
	#pbt_backToTop{	right:6px; left:auto; margin-left:0px; }
}

@media only screen and (max-width : 992px){
	.container { width: 750px; }

	fieldset.odd{ float:none; margin-right:0; }
	fieldset.even{ float:none; margin-left:0; }	
	
	#copyrightPanel{ text-align:center; padding:0 0 30px; }
	#copyrightPanel p{ font-size:12px; color:#454648; line-height:1.6; display: none;}

	html { -webkit-text-size-adjust: none; }
}

@media only screen and (max-width : 767px){
	.container { width:100%; }
	.col.half, .col.third, .col.fourth, .col.half_40, .col.half_60, .col.half_30, .col.half_70, .col.third_25, .col.third_50, .col.third_15, .col.third_55{ 
		float:none;
		width:100%;
	}

	.col.half.static, .col.third.static{
		float: left;
	}

	.col.half.static{width:50%;}
	.col.third.static{width:33.3333%;}
	
	#pbt_backToTop{
		background-color:rgba(255,255,255,0.7); 
		width:35px; height:35px;
		background-size:15px 8px;
	}
	#copyrightPanel {padding-bottom: 10px; } 
	#copyrightPanel .just-pc{display: none;}
	#copyrightPanel .just-mobile{border-top: 1px solid #F0F0F0; text-align: center; padding: 10px 0 0 0;}
	#copyrightPanel .just-mobile{display: block;}
	#copyrightPanel .just-mobile .box-img{text-align:center; margin: 0 auto;}

	/* User Info :Start */
	.p_form .form_wrapper fieldset label {margin-right: 0%; width: 25%; padding-right: 15px;}
  	.p_form .form_wrapper fieldset label span{ font-size: 16px;}
  	.p_form .form_wrapper fieldset input.form-text {width: 70%; font-size: 16px; }
	.p_form .form_wrapper .button-block{ width: 100%;}
	.p_form .form_wrapper .button-full-block{ display: block;}
	.p_form .form_wrapper a.btnSubmit{ font-size: 16px; padding: 10px 0; display: block; margin-bottom: 10px;}
	.p_form .button-full-block span.text-tips{ font-size: 12px; line-height: 1.6;}
	.p_form .form_wrapper fieldset.none-bd label{font-size: 16px;}
	.p_form .form_wrapper fieldset.none-bd .radio label:before, .p_form .form_wrapper fieldset.none-bd .checkbox label:before{bottom: 4px;}
	.p_form .form_wrapper fieldset.none-bd .radio input[type=radio]:checked + label:before {    
	    background:url(http://mat1.gtimg.com/www/mb/cb2/global/assets/images/radio-check_2X.png) no-repeat;
    	background-position: 3px 3px;
    	background-size: 8px;
    	background-color: #FFFFFF;
	}
	.p_form .form_wrapper .checkbox input[type=checkbox]:checked + label:before {
	    /*content: "\2713";
	    font-size: 13px; color: #fff; text-align: center; line-height: 15px; */
	    background:url(http://mat1.gtimg.com/www/mb/cb2/global/assets/images/checkbox-check_2X.png) no-repeat #4b4b4b;
	    background-position: 2px 2px;
	    background-size: 10px; 
	}
	.p_form.size-xs .form_wrapper fieldset label{width:29%; }
	.p_form.size-xs .form_wrapper fieldset input.form-text{width: 68%;}
	.p_form .form_wrapper .textarea textarea{ font-size: 16px;}
	.p_form .form_wrapper fieldset select {width: 100%;  padding: 8px 3px;
	    -webkit-border-radius: 0px; 
	    -webkit-appearance: none;
	    border:1px solid #d1d1d1;
		background: url(http://mat1.gtimg.com/www/mb/cb2/global/assets/images/select-arrow_2X.png) no-repeat center right;
		background-size: 12px 6px;
		background-position: 98% center ;
	}
	.p_form .form_wrapper fieldset .inouttext select{margin-right: 0%; margin-bottom: 15px;}
	.p_form .form_wrapper a.btnHalf{padding: 2px 15px 3px;}
	/* User Info :End */
}

@media only screen and (max-width : 480px) {
	#pbt_backToTop{
		display: none; visibility: hidden; right: auto; left: 6px; bottom: 60px; opacity:0.7;
	}
}




/*  |xGv00|9aeb15314f5d5e628694020c141a8b5b */